body {
  font-family: 'Andale Mono','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  color: #333333;
  margin: 0;
}


h1 {
  margin: 0;
}

.l-wrapper {
  margin: 0 auto;
}

.l-header {
  display: flex;
  color: #8EBF5E;
  background-color: #E1F2A2;
  padding: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.12);
}

.l-header__title {
  color: #8EBF5E;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #8EBF5E;
}

.l-sidebar {
  width: 198px;
  height: 498px;
  margin: 10px 10px 10px 0px;
}

input {
  margin-bottom: 8px;
  background-color: whitesmoke;
}

.l-contents {
  width: 100%;
  height: 498px;
  margin: 0 10px;
}

/* テーブル */
table {
  border-collapse: collapse;
  margin-top: 10px;
  vertical-align: middle;
}

table th, table td {
  border: solid 1px #68CD8C;
  vertical-align: middle;
}

table th {
  padding: 10px;
  background: #68CD8C;
  color: #fff;
}

table td {
  padding: 5px;
  font-size: 16px;
}
/* テーブルここまで */

/* ボタン */
.c-btn {
  background-color: #68CD8C;
  color: #fff;
  border: none;
  margin-top: 4px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

.c-btn--delete {
  background-color: #C84440;
}

.c-btn--update {
  background-color: skyblue;
}

.js-header__icon {
  font-size: 40px;
}
.js-header__icon+p {
  font-size: 60%;
}

.none {
  display: none;
}
  
/* サイドバー */

.l-sidebar {
  padding:16px;
  width:220px;
  height:100vh;
  position:fixed;
  background-color: #fff;
  top:0;
  left:-220px;
  z-index:4;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  box-sizing:border-box;
  display:none;
}

.l-sidebar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-sidebar__icon {
  font-size: 28px;
  color: #654;
}

.l-sidebar__txt {
  font-size: 18px;
  margin-top: 16px;
  margin-left: 8px;
}

.l-sidebar-bg {
  background-color:#558;
  width:100vw;
  height:100vh;
  opacity:0;
  position:fixed;
  top:0;
  left:0;
  z-index:3;
  display:none;
}

/* インプットエリア */
input {
  /* display: block; */
  margin-bottom: 15px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

input[type="checkbox"] {
  width: 20px;
  vertical-align: middle;
}

input:focus {
  outline: 0;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
  border: solid 2px #666;
}

.c-btn--hamburger {
  width: 70px;
  text-align: center;
}

/* 会員登録フォーム */
.required {
	background-color: #BB1850;
	color: #fff;
	font-size: 90%;
	padding: 2px;
	margin-left: 10px;
}

.error {
	font-size: 90%;
	color: #BB1850;
}

/* responsive */
@media (max-width: 600px) {

body {
  font-size: 
} 

.l-wrapper{
  width: 100%;
}

.l-contents {
  width: 100%;
}

table th {
  font-size: 0.5em;
  padding: 5px;
}

table td {
  /* 親要素の半分のサイズ */
  padding: 0.5em;
  font-size: 0.5em;
}

}