body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  }
  
  h1, .contents-list {
    color: #68CD8C;
  }

  .logo-box {
    display: flex;
    margin: 0 auto;
  }

  .logo {
    display: block;
    width: 54px;
    height: 59px;
    margin: 8px 16px;
  }
  
  .sidebar {
  float:left;
  width:198px;
  height:498px;
  background-color: #68CD8C;
  margin:10px 10px 10px 0px;
  }

  .side-box {
    margin-left: 8px;
  }

  .sidebar-p {
    color: #fff;
  }

  input {
    margin-bottom: 8px;
  }

  .contents {
  float:left;
  width:748px;
  height:498px;
  margin:25px 0px 50px 0px;
  position: relative;
  }

  /* テーブル */
  table {
    border-collapse: collapse;
    margin-top: 10px;
  }
  table th, table td {
    border: solid 1px #68CD8C;
  }

  table th {
    padding: 10px;
    background: #68CD8C;
    color: #fff;
  }

  table td {
    padding: 3px 10px
  }
  /* テーブルここまで */

  footer {
  clear:both;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0; 
  }
  
